.header {
    height: 35vw;
    margin: 30px auto;
    background: url('/header-img1.jpg') no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 40px;
}
 
.header-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: 50%;
    left: 5vw;
    gap: 2.5vw;
    top: 18%;
    animation: fadeIn 3s;
}

.header-content h1 {
    font-weight: 500;
    color: white;
    font-size: max(3.5vw, 22px);
    
}
.header-content p {
    color: white;
    font-size: 1.5vw;
    max-width: 50%;
}

.view-menu-btn {
    border: 3px solid #013215;
    color:#013215;
    font-weight: 700;
    padding: 1vw 2.3vw;
    background-color: white;
    font-size: max(1.3vw, 14px);
    border-radius: 50px;
    cursor: pointer;
    transition: 0.15s;
}
.view-menu-btn:hover {
    color: white;
    background-color: #013215;
}

@media (max-width:1050px) {
    .header-content {
        max-width: 45%;
        top: 10%;
        gap: 1.2vw;
    }
}

@media (max-width:750px) {
    .header-content {
        max-width: 65%;
    }
    .header-content p{
        display: none;
    }
    .header-content button{
        padding: 2vw 4vw;
    }
}